# git and Jekyll
.git/
docs/.jekyll-metadata
_gh_pages
_site

# OS and editors
.DS_Store
.cache
.sass-cache
.project
.settings
*.sublime-project
*.sublime-workspace
Thumbs.db

# Package managers
node_modules/
npm-debug.log

backstop_data/bitmaps_test/
