// Breakpoints
// smallest to largest
// Above 1200px breakpoints removed to build on "wings" concept
// to leverage marketing space > 1200.
$breakpoints: (
  phone:       480px,
  phablet:     765px,
  tablet:      991px,
  desktop:     1200px
  );
