// Breakpoints
// No, we're not going to attempt to please everyone here,
// but we're giving attention to larger monitors in an attempt
// to add features based on extra screen realestate.
$desktop-xl:     2000px;
$desktop-lg:     1600px;
$desktop:        1200px;
$tablet:         991px;
$tablet-sm:      765px;
$phone:          480px;
