// Cards
// Generate card sizes based on containers

@include responsive-cards(0);

.card {
  background: $card--background-color;
  @include border(right);
  @include border(bottom);
  display: inline-block;
  @extend %scrollbar;
  @include transition(all, 0.1s);
  &--title {
    @include font-size($font--headline-size);
    font-weight: $font--headline-weight;
    padding: $padding;
    @include transition(all, 0.1s);
    .add {
      display: none;
      @include transition(all, 0.3s);
    }
  }
  &--body {
    display: inline-block;
    height: 75%; // TODO: More reliable way determine height
    padding: $padding;
    padding-left: $padding * 1.7;
    margin-right: 0.2em; // Margin in place for scrollbar
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    h2 {
      font-family: $font--family;
      font-weight: $font--headline-weight;
      @include font-size(18px);
      margin-top: 0;
      margin-bottom: 0.4em;
    }
  }
  &--image {
    display: block;
    height: 150px;
    margin-left: -1.2em;
    margin-right: -0.9em;
    position: relative;
    overflow: hidden;
    @include transition(all, 0.1s);
    img {
      @extend %vertical-center;
      width: 100%;
    }
  }
  &--bar {
    background-color: $card--background-color;
    bottom: 0;
    font-size: 80%;
    opacity: 0;
    padding: $padding;
    position: absolute;
    text-transform: uppercase;
    z-index: 100;
    @include transition(all, 0.3s);
    @include text-shadow(0, 1px, 1px, darken($link-active, 5%));
  }
  &.vertical {
    .card--body {
      min-height: 85%; // TODO: More reliable way determine height
    }
  }
  &:hover {
    background: $card--foreground-color;
    @include box-shadow(0, 0, 5px, $grey-light);
    @include border(right, $grey-light);
    @include border(bottom, $grey-light);
    @include transform-scale(1.05);
    @include transition(transform, background, 0.3s);
    position: relative;
    z-index: 200;
    .card--title {
      background: $grey-header;
      .add {
        display: inline-block;
      }
    }
    .card--bar {
      background-color: lighten($link-active, 15%);
      @include box-shadow(0, 0, 5px, $grey-light);
      @include border(bottom, $link-active);
      @include border(right, lighten($link-active, 10%));
      bottom: -37px;
      color: white;
      opacity: 1;
      text-align: right;
      &:hover {
        background-color: $link-active;
        cursor: pointer;
      }
    }
  }
}
