/// Forms

input {
  border: none;
  @include border("bottom", $grey-light);
  background: transparent;
  margin: $padding 0;
  padding: $padding;
  &[type="submit"] {
    @extend .btn;
  }
}

.btn {
  outline: none;
  background-color: lighten($link-active, 15%);
  color: $color-white;
  @include border("bottom", $link-active);
  @include transition(all, 0.3s);
  &:hover {
    background-color: $link-active;
  }
  &--small {
    font-size: inherit;
    padding: 7px;
  }
  &--medium {
    font-size: 120%;
    //padding: 10px 15px;
  }
  &--large {
    font-size: 170%;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
  }
  &--plain {
    &:hover {
      text-decoration: none;
    }
  }
}

// inputs and selects
.input {
  &--large {
    font-size: 120%;
    padding: 0.5em;
  }
  &--xlarge {
    font-size: 170%;
    padding: 0.7em;
  }
}

.select {
  &--small {
    height: 40px;
    line-height: normal;
  }
  &--xlarge {
    font-size: 170%;
    line-height: normal;
    padding: 0.7em;
  }
}

.form-fluid {
  width: 100%;
  input,
  select,
  textarea {
    display: block;
    margin-right: $padding * 2;
    width: 100%;
    &:last-of-type {
      margin-right: none;
    }
  }
}

// Focus
input {
  @include transition(all, 0.3s);
  outline: none;
  outline-color: transparent;
  &:focus {
    @include border("bottom", lighten($msg--info-text, 30%));
    // html5 validation trigger
    &:invalid {
      outline: $msg--alert-text solid thick;
    }
  }
}

.focus {
  @include transition(all, 0.3s);
  input {
    &:focus {
      outline: $color-blue-lt solid thick;
    }
  }
}

// select
label.select {
  @include border("bottom", $grey-light);
  padding: 0.7em 0;
  position: relative;
  &::after {
    content: "\2194";
    color: $link-active;
    @include rotate(90deg);
    right: 0.3em;
    top: 0.5em;
    padding: 0 0 0.3em;
    position: absolute;
    pointer-events: none;
  }
  &::before {
    content: "";
    right: 0.3em;
    top: 0;
    width: 2em;
    height: 2em;
    position: absolute;
    pointer-events: none;
    display: block;
  }
  select {
    background: transparent;
    border: none;
    display: inline-block;
    margin: 0.7em 0;
    padding: 0.7em;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}

// Range
// hard reset for slider
input[type=range] {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid $grey-light;
  @include square(20px);
  border-radius: 50%;
  background: $color-white;
  cursor: pointer;
  margin-top: -9px;
}

// @mixin build-slider($slider-color:null, $slider-color-focus:null) {
// }

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

/* All the same stuff for IE */

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  border: 1px solid #000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: $grey-light;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: lighten($msg--info-text, 30%);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
