// General classes
.st-left {float: left;}
.st-right {float: right;}
.st-none {float: none;}

.st-inline {display: inline-block;}

.st-text-left {text-align: left;}
.st-text-right {text-align: right;}
.st-text-center {text-align: center;}

.st-no-border {border: none;}
.st-no-margin {margin: 0;}
.st-no-padding {padding: 0;}

.st-fixed {position: fixed;}

.st-group {
  display: inline-block;
  @extend %clearfix;
}

.st-floor {
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
}

// padding
.st-pad-5 {padding: 5px;}
.st-pad-10 {padding: 10px;}
.st-pad-20 {padding: 20px;}
.st-pad-1 {padding: 1em;}
.st-pad-2 {padding: 2em;}
.st-pad-3 {padding: 3em;}

// margin
.st-margin-tb-20 {margin: 20px auto;}
.st-margin-tb-1 {margin: 1em auto;}
.st-margin-tb-2 {margin: 2em auto;}
.st-margin-tb-3 {margin: 3em auto;}

.st-list-inline {
  li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0.5em;
  }
}

.st-list-style-none {
  list-style: none;
}

// Geniric box
// Normalize h* tags for generic message boxes
.st-generic-box {
  h2, h3 {
    line-height: 1em;
    margin-bottom: 0.5em;
  }
}

// Button helpers
.st-btn-small {
  font-size: inherit;
  padding: 7px;
}
.st-btn-medium {
  font-size: 120%;
  //padding: 10px 15px;
}
.st-btn-large {
  font-size: 170%;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px;
}
.st-btn-plain {
  &:hover {
    text-decoration: none;
  }
}

// inputs and selects
.st-input-large {
  font-size: 120%;
  padding: 0.5em;
}
.st-input-xlarge {
  font-size: 170%;
  padding: 0.7em;
}

.st-select-small {
  height: 40px;
  line-height: normal;
}
.st-select-xlarge {
  font-size: 170%;
  line-height: normal;
  padding: 0.7em;
}

// Display across views

.st-display-block {display: block;}

// Do not show on desktop and HD
@media (max-width: 1200px){
  .st-not-desktop {display: none;}
}
@media (min-width: 1200px){
  .st-only-desktop {display: none;}
}

// Do not show on mobile // 992 here
@media (max-width: 992px){
  .st-not-mobile {display: none;}
}
@media (min-width: 992px){
  .st-only-mobile {display: none;}
}
