ul,
ol {
  &.list-unstyled {
    list-style: none;
    padding-left: 0;
  }
  &.bordered {
    li {
      display: block;
      padding: 1em 0;
      @include border("bottom");
      &:last-of-type {
        border: none;
      }
    }
  }
  &.list-inline {
    li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0.5em;
    }
  }
  &.list-style-none {
    list-style: none;
  }
}

// no-padding applied to card--body,
// bring b
.card--body {
  &.no-padding {
    .bordered {
      li {
        padding-left: 1em;
        padding-right: 1em;
      }
    }
  }
}
