
.alert {color: $red;}
.alert-box {
  @include alert-box($red);
}
.alert-status {
  @include alert-box($red);
  width: auto;
  margin: 1em 3em;
}

.success {color: $green;}
.success-box {
  @include alert-box($green);
}
.success-status {
  @include alert-box($green);
  width: auto;
  margin: 1em 3em;
}

.warning {color: $warning;}
.warning-box {
  @include alert-box($warning);
}
.warning-status {
  @include alert-box($warning);
  width: auto;
  margin: 1em 3em;
}

.info {color: $helpblue;}
.info-box {
  @include alert-box($helpblue);
}

.default {color: $darkblue;}
.default-box {
	@include alert-box($mediumblue);
}
