// Breakpoints

// Standard system; smallest to largest
// Above 1200px breakpoints to leverage marketing space > 1200.
$breakpoints: (
  phone:       480px,
  phablet:     765px,
  tablet:      991px,
  desktop:     1200px
  );

// When we only need to return below a breakpoint
// Usage: @media (max-width: break-target(phone))
@function break-target($key) {
  @return map-get($breakpoints, $key);
}
