/// Colors
// Greyscale
$grey:          #999;
$grey-dark:     #333;
$grey-light:    #ccc;
$grey-lighter:  #efefef;
$grey-lightest: #f9f9f9;
$grey-header:   #eee;

// System colors
$color-blue:     lightsteelblue;
$color-blue-lt:  lighten($color-blue, 15%);
$color-white:    white;
$color-white-alt: darken(white,3%);

// Border color
$border-color: $color-blue-lt;

// Messages and alerts
$msg--success-text:   green;
$msg--alert-text:     tomato;
$msg--warning-text:   goldenrod;
$msg--info-text:      dodgerblue;
$msg--system-text:    darkmagenta;

// Messages and alert boxes
$msg--success-box:   lighten($msg--success-text,20%);
$msg--alert-box:     lighten($msg--alert-text,20%);
$msg--warning-box:   lighten($msg--warning-text,20%);
$msg--info-box:      lighten($msg--info-text,20%);
$msg--system-box:    lighten($msg--system-text,20%);

// Links
$link-active: $msg--info-text;
$link-visited: $msg--info-text;

// Fonts
$font--family: 'Open Sans', sans-serif !default;
$font--base-size: 16px;
$font--line-height: 1.6em;
$font--body-weight: 100;
$font--headline-weight: 300;
$font--headline-size: $font--base-size * 1.7;
$font--body: $font--family;
$font--headline: $font--family;

// Padding
$padding: 0.7em !default;

// Grid
// Set grid specific vars
$columns: 12 !default;
$gutter: 30px !default;
$gutter-and-padding: $gutter * 2;

// Cards
$card-count-max: 4;
$card--background-color: $color-white-alt;
$card--foreground-color: $color-white;
